body  {
    margin: 0;
    padding: 0;
}

.header {
    background-color: aquamarine;
    height: 100px;
    position: relative;
    margin-bottom: 10px;
}


.title {
    text-align: center;
    margin: 0;
}

.modeButtons {
    position: absolute;
    right: 0;
    top: 0;
}

.modeButtons > button {
    padding: 10px 5px;
    background-color: brown;
    border-radius: 10px;
    cursor:pointer;
}

.modeButtons > button:hover {
    background-color: blue;
    color: white;
}

.middle {
    display: flex;
    height: 800px;
    width: 100%;
    gap: 10px;
}

.aside {
    background-color: green;
    width: 300px;
}

.article {
    background-color: yellow;
    flex: 1;
    position: relative;
}

.footer {
    background-color: blue;
    height: 10%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.format {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    width:100%;
}

.format > img {
    background-color: orange;
    width: 300px;
    height: 300px;
}

